body {
    background-image: url("../images/corks.jpg");
    width: 100%;
    height: auto; 
}

h1 {
    font-family: 'Allura', cursive;
    font-size: 72px; 
    padding-bottom: 20px;
    padding-top: 20px; 
    font-weight: bold; 
}

p {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px; 
    padding-top: 15px; 
}

#subHeader {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
}

#contentContainer {
    width: 960px;
    height: 375px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    background-color: whitesmoke; 
    border-style: solid;
    border-color: #3f281e;
    border-width: 2px; 
}

#hidden-word {
    padding-top: 10px; 
}

@media only screen and (max-width: 992px) {

    #contentContainer {
        width: 85%;
        margin-left: auto; 
        margin-right: auto;
        margin-top: 50px; 
    }

}

@media only screen and (max-width: 768px) {

    #contentContainer {
        width: 85%;
        height: 450px; 
        margin-top: 50px; 
        margin-right: auto; 
        margin-left: auto;
    }

}

@media only screen and (max-width: 600px) {

    #contentContainer {
        width: 95%;
        height: 450px; 
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto; 
    }

}

